body {
    font-family: Helvetica, Arial, sans-serif;
}

.nav-top svg {
    width: 4em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.jumbo {
    height: 45em;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}