body {
    font-family: Helvetica, Arial, sans-serif;
}

.rounded-5 {
    border-radius: 0.5rem!important;
}


.nav-top svg {
    width: 4em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbo .content {
    padding-top: 60%;
    padding-bottom: 10%;
    color: white;
}

.my-container {
    width: 95%;
    margin: 0 auto;
}

.img-container.jumbo-bot-img-cont.selected {
    border: 1px solid blue;
    border-radius: 0.5rem;
    padding: 0.2em;
}

.img-container.jumbo-bot-img-cont:hover {
    transform: translate(0, -10%);
    transition: 0.5s;
    cursor: pointer;
}

.jumbotron button:hover,
.advertisement button:hover {
    box-shadow: 0 0 0 2px rgb(220,53,69);
    border: 1px solid black;
}

.playstation5 .img-container img {
    width: 100%;
    opacity: 0.7;
}

.playstation5 .img-container img:hover {
    opacity: 1;
    cursor: pointer;
}

.playstation5 .img-container.selected {
    border-bottom: 2px solid blue;
}

.playstation5 button:hover,
.explore-playstation4 button:hover {
    box-shadow: 0 0 0 2px rgb(0,128,255);
    border: 1px solid white;
}

.advertisement {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.new-releases {
    background-color: #1F1F1F;
    color: white;
}

.playstation-plus {
    background-color: #BEBCBB;
}

.playstation-plus button:hover,
.playstation-now button:hover {
    box-shadow: 0 0 0 2px white;
    border: 1px solid black;
}

.playstation-now {
    background-color: #161C3B;
    color: white;
}

footer {
    background-color: #00439C;
    color: white;
}

footer .logo-ps,
footer .logo-sie {
    width: 100px;
    margin-bottom: 2em;
}

footer .list-unstyled {
    line-height: 2.5em;
}

footer .list-unstyled a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 768px) {
    .playstation5 .img-container img {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .navbar-collapse .btn {
        width: 400px;
    }
}