body {
    font-family: Helvetica, Arial, sans-serif;
}

.rounded-5 {
    border-radius: 0.5rem!important;
}

.nav-top svg {
    width: 4em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbo .content {
    padding-top: 60%;
    padding-bottom: 10%;
    color: white;
}

.my-container {
    width: 95%;
    margin: 0 auto;
}

.img-container:hover {
    border: 1px solid blue;
    border-radius: 0.5rem;
    padding: 0.2em;
    cursor: pointer;
}



